body {
font-family: 'Open Sans', sans-serif;
font-size: 18px;
}

a {
color: #333;
	&:hover {
		color: $secondary-color;
		text-decoration: none;
	}
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}


.home-headline {
  padding: 0px 15px 40px 15px;
  text-align: center;
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.thumbnail {
  padding-top: 20px;
}

.container-main {
  padding-top: 80px;
}

