.navbar-inverse {
background-color: #444;
}

.navbar-inverse .navbar-brand {
color: #ddd;
}

@media (max-width: 768px) {
.navbar-nav>li>a {
  text-align: center;
}
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
    margin: 0;
  }
}